[submodule "libraries/third-party/CMake"]
	path = libraries/third-party/CMake
	url = https://github.com/Kitware/CMake.git
[submodule "libraries/third-party/boost"]
	path = libraries/third-party/boost
	url = https://github.com/boostorg/boost.git
[submodule "libraries/chrono"]
	path = libraries/chrono
	url = https://github.com/projectchrono/chrono.git
[submodule "libraries/third-party/blaze"]
	path = libraries/third-party/blaze
	url = https://bitbucket.org/blaze-lib/blaze.git
[submodule "libraries/chrono-ros-messages/src/chrono_ros_interfaces"]
	path = libraries/chrono-ros-messages/src/chrono_ros_interfaces
	url = https://github.com/projectchrono/chrono_ros_interfaces.git
[submodule "libraries/chrono-ros-messages/src/px4_msgs"]
	path = libraries/chrono-ros-messages/src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "libraries/third-party/fkYAML"]
	path = libraries/third-party/fkYAML
	url = https://github.com/fktn-k/fkYAML.git
[submodule "libraries/third-party/nlohmann-json"]
	path = libraries/third-party/nlohmann-json
	url = https://github.com/nlohmann/json.git
[submodule "libraries/third-party/rncarpio-linterp"]
	path = libraries/third-party/rncarpio-linterp
	url = https://github.com/rncarpio/linterp.git
